# Приложение
APP_PORT=8080
LOG_LEVEL=debug
CHECK_INTERVAL=10s
HTTP_TIMEOUT=5s

# База Данных PostgreSQL
POSTGRES_USER=monitor_user
POSTGRES_PASSWORD=super_secret_password_123
POSTGRES_DB=monitor_db

# Строка подключения для Go-приложения
DATABASE_URL=postgres://monitor_user:super_secret_password_123@localhost:5432/monitor_db?sslmode=disable